/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.btn.btn-default {
  background-color: #138abb;
  border-color: #138abb;
  padding: 12px !important;
  margin: 12px;
  font-size: 1em;
}

.btn.btn-default:hover {
  background-color: #689fc5 !important;
  border-color: #689fc5 !important;
}


.navbar-default .navbar-nav > li > a {
  color: #e5e5e5;
  padding: 24px 12px;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #07374a;
  border-color: #07374a;
  color: #e5e5e5;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  color: #e5e5e5;
  background-color: #07374a;
}

.navbar-default {
  background-color: #09455d;
  height: 5em;
}

.navbar .navbar-nav {
  background: transparent;
  font-size: 1em;
}

body {
  padding-top: 6em;
}

